/problema1/Semana4_1_Problema1/nbproject/private/
/problema1/Semana4_1_Problema1/build/
/problema2/Semana4_1_Problema2/nbproject/private/
/problema2/Semana4_1_Problema2/build/
/problema3/Semana4_1_Problema3/nbproject/private/
/problema3/Semana4_1_Problema3/build/
/problema4/Semana4_1_Problema4/nbproject/private/
/problema4/Semana4_1_Problema4/build/
